* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  width: 100vw;
  height: 100vh;
}

body {
  min-height: 100vh; /* мінімум — висота вікна, але розтягується з контентом */
  background: linear-gradient(-90deg, #f7f5dc, #02b5fc);
  background-size: cover;
  background-position: 100% 100%;
  /* background-position: center; */
  transition: background 1s ease, color 0.5s ease;
  color: rgb(10, 10, 10);
  overflow-x: hidden;
}

body.dark {
  background: linear-gradient(-90deg, #4f504e, #051225);
  background-size: cover;
  background-position: center;
  background-position: 100% 100%;

  color: #011533;
}

